* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans-serif;
}

:root {
  --color-title: #16479D;
  --color-botao-verde: #25b456;
  --color-cinza-fundo: #f0f0f0;
  --color-laranja: #FFd400;
  --color-laranja-2: #ffe66c;
  --color-azul: #1d5fc9;
}

h1 {
  color: var(--color-title);
  margin-bottom: 1rem;
  font-size: 2rem;
}

.bold {
  font-weight: bold;
  color: var(--color-title);
}