* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

:root {
  --color-title: #16479D;
}

h1 {
  color: var(--color-title);
  margin-bottom: 1rem;
  font-size: 2.1rem;
}

.bold {
  font-weight: bold;
  color: var(--color-title);
}